@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Poppins','sans-serif'!important;
  
}
header{
    z-index:999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5 ease;
}
header .aa{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navi{
    position: relative;
}
header .navi .navi-item a{
    position: relative;;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left:30px ;
    transition: 0.3s ease;
}
header .navi .navi-item a::before{
    content:'';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navi .navi-item a:hover:before{
width: 100%;
}
section{
    padding: 100px 200px;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(201, 228, 228);
}
.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(7, 7, 7, 0.582);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}
 .home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    text-shadow: 5px 5px 10px rgb(57, 8, 138);
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 5px 5px 10px rgb(57, 8, 138);
}

.home .content p{
margin-bottom: 65px;
}
.home .content button{
    background: #fff;
    padding: 10px 35px;
    color: black;
    text-shadow: 1px 1px 5px wheat;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
}
.home .content button:hover{
    background: #0f0f0f;
    padding: 10px 35px;
    color: rgb(238, 236, 236);
    text-shadow: 1px 1px 5px rgb(202, 136, 14);
    font-size: 1.1em;
    font-weight: 500;
    border-color: #fff;
    border-radius: 15px;
    cursor: pointer;
}
.home .media-icon{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.home .media-icon a{
    color: #fff;
    font-size: 2em;
    transition: 0.3s ease;
}
.home .media-icon a:not(:last-child){
    margin-bottom: 20px;
}
.home .media-icon a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media (max-width:1040px){
header 
   {
    padding: 12px 20px;
   }
   section{
    padding: 100px 20px;
   }
   .home .media-icon {
    right: 15px;
}
header .navi {
display: none;
}
header .navi.active {

     position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1,1,1,.05);  
}

header .navi .navi-item a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
}

header .navi .navi-item a:before{
    background:  #222;
   height: 5px;
}
header .navi.active .navi-item{
    background-color: gray;
    width: 300px;
    max-width: 300px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    
    box-shadow: 0 5px 25px rgb(1 1 1 /20%);
} 
.menu-btn{
background: url(menu0.png)no-repeat;
background-size: 30px;
background-position: center;
width: 40px;
height:40px;
cursor: pointer;
transition: 0.3s ease;
}
.menu-btn.active{
z-index: 999;
background: url(close.png) no-repeat;
background-size: 25px;
background-position: center;
transition: 0.3s ease;
}
}








